@model IEnumerable<Models.New>
@using WEB.Extensions
@{
    ViewData["Title"] = "News";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="News" asp-action="LoadRSS">Load News</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Head)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                Author\Link
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Head)
                </td>
                <td>
                    @Html.Raw(item.Text.TrimText(1000, 700))
                </td>
                <td>
                    <a href="@item.SourceURL" target="_blank" rel="noopener noreferrer">
                        @item.Author
                    </a>
                </td>
                <td>
                    @DateTimeOffset.FromUnixTimeSeconds(item.DatePosted).ToString("dd-MM-yy")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
